.container-fluid {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 5%;
  height: 60vh;
  background: lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problems {
	margin: 2%;
}

.form_label {
  margin: 5px 0px 5px 5px;
}

button {
  margin: 5px;
}
