<!DOCTYPE html>
<html lang="en">
	<head>
        <title>CMA</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
        <header>
            <img class="left" src="/static/images/logo.png" alt="" style="width:50px;"><p class="left"> <a href="/" >CMA</a></p><p class="right"><a href="/login/">  login </a></p><br><br><br> 
        </header>
        
        <form action="" method="post" enctype="multipart/form-data">
	    <div class="form_label">Username</div><input type="text" name="username"/> <br>
	    <div class="form_label">Password</div><input type="password" name="password"/> <br>
		<input type="submit" value="login"/> <br>
        </form>

        <p>Don't have an account?</p>

        <a href="/register/"> Register</a>
	</body>
</html>
