<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMA</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <header>
        <img class="left" src="/static/images/logo.png" alt="" style="width:50px;">
        <p class="left"> <a href="/"> CMA</a></p>
        <p class="right"><a href="/accounts/login/">login</a> </p>
        <br>
        <br>
        <br>
    </header>
    <div class="create_forms">
        
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form_label">First Name</div><input type="text" name="fullname" /> <br>
        <div class="form_label">Last Name</div><input type="text" name="fullname" /> <br>
        <div class="form_label">Username</div><input type="text" name="username" /> <br>
        <div class="form_label">Password</div><input type="password" name="password" /> <br>
        <div class="form_label"></div><input type="submit" name="signup" value="sign up" />
        <br>
    </form>
    <br>
    Have an account <a href="/login/">Log in</a>
    </div>
</body>

</html>