<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-left">
          <a href="/s/{{ logname }}/"><button style="margin-top: 10px;" class="btn btn-primary btn-md">{{ logname }}</button></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <body style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 70px; text-align: center; height: 90vh;">
    <h1> Welcome {{logname}}! </h1>
    <h3> Lesson 1: Basic Addition </h3>
      <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="problems">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Level 1</div>
            <div class="card-body text-dark">
              <p class="card-text">
                <h2>2 + 3 = </h2>
                <form action="" method="post" enctype="multipart/form-data">
                  <div class="form_label">Answer</div><input type="text" name="username"/>
                  <button class="btn btn-block btn-danger" type="submit" value="login"/>Submit</button><br>
              </p>
            </div>
          </div>
          <br>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Level 2</div>
            <div class="card-body text-dark">
              <p class="card-text">
                <h2>10 + 5 = </h2>
                  <form action="" method="post" enctype="multipart/form-data">
                  <div class="form_label">Answer</div><input type="text" name="username"/>
                  <button class="btn btn-block btn-danger" type="submit" value="login"/>Submit</button><br>
              </p>
            </div>
          </div>
          <br>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">Level 3</div>
              <div class="card-body text-dark">
                <p class="card-text">
                  <h2>20 + 17 = </h2>
                  <form action="" method="post" enctype="multipart/form-data">
                  <div class="form_label">Answer</div><input type="text" name="username"/>
                  <button class="btn btn-block btn-danger" type="submit" value="login"/>Submit</button><br>
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
