<!DOCTYPE html>
<html lang="en">
	<head>
    <title>CMA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
    <h1> Welcome {{logname}}! </h1>
    <h2> Table of contents </h2>

    <ul>
      <a href="/s/{{logname}}/math/1/">Lesson 1: Basic addition</a>
    </ul>
    <ul>
      <a href="#">Lesson 2: Basic subtraction</a>
    </ul>
    <ul>
      <a href="#">Lesson 3: Basic multiplication</a>
    </ul>
    <ul>
      <a href="#">Lesson 4: Basic division</a>
    </ul>
    <ul>
      <a href="#">Lesson 5: Addition and subtraction</a>
    </ul>
    <ul>
      <a href="#">Lesson 6: Multiplication and division</a>
    </ul>
	</body>
</html>
