<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CMA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <ul class="nav navbar-left">
            <a href="/u/{{ logname }}/"><button style="margin-top: 10px;" class="btn btn-primary btn-md">{{ logname }}</button></a>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <body style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 70px; text-align: center; height: 90vh;">
        <div id="main_text">
            <h1>You are managing {{child}}'s profile</h1><br>
            <a href="/p/{{ logname }}/{{child}}/create_student_account/"><button name="create_student_account">Create Student Account</button></a>
            <a href="/p/{{ logname }}/{{child}}/see_student_progress_report/"><button name="see_student_progress_report">See Student Progress Report</button></a>
        </div>
    </body>
</html>
