<!DOCTYPE html>
<html lang="en">

<head>
    <title>CMA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>

<body>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="box">
          <form action="" method="post" enctype="multipart/form-data">
            <div class="form_label">Student First Name</div><input type="text" name="firstname" />
            <div class="form_label">Student Middle Initial</div><input type="text" name="middleinitial" />
            <div class="form_label">Student Last Name</div><input type="text" name="lastname" />
            <div class="form_label">Student Username</div><input type="text" name="username" />
            <div class="form_label">Student Password</div><input type="password" name="password" />
            <div class="form_label">Student Gender</div><input type="text" name="gender" />
            <div class="form_label">Student Age</div><input type="number" name="age" />
            <div class="form_label">Student Birthdate</div><input type="date" name="birthdate" />
            <div class="form_label">Phone Number</div><input type="text" name="phonenumber" />
            <div class="form_label">Current Grade</div><input type="text" name="currentgrade" />
            <div class="form_label">School</div><input type="text" name="school" />
            <div class="form_label">Disability</div><input type="text" name="disability" />
            <div class="form_label">Community</div><input type="text" name="community" />
            <div class="form_label">Ward</div><input type="text" name="ward" />


            <button class="btn btn-primary btn-block" type="submit" name="signup" value="Register">Submit </button>
          </form>
          <br>
          Have an account? <a href="/login/">Log in</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
